*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   }
   
   body
   {
       background-color: bisque;
       font-family: arial;
   }
   
   .main
   {
    margin: 2%;
   }
   
   .card
   {
       width: 20%;
       display: inline-block;
       box-shadow: 2px 2px 20px black;
       border-radius: 5px; 
       margin: 2%;
    }
   
   .image img
   {
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
   }
   
   .title
   {
     text-align: center;
     padding: 10px;
   }
   
   h1
   {
       color: black;
   }
   
   h2
   {
     font-size: 20px;
   }
   
   .des
   {
     padding: 3px;
     text-align: center;
     padding-top: 10px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   
   button
   {
     margin-top: 40px;
     margin-bottom: 10px;
     background-color: bisque;
     border: 1px solid black;
     border-radius: 5px;
     padding:10px;
   }
   
   button:hover
   {
     background-color: black;
     color: white;
     transition: 0.5s;
     cursor: pointer;
   }

   .footer {
    margin-top: 150px;
    
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

.footer div {
    text-align: center;

}

.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}


/*-------Header--------*/
.headerh1{
  font-size: 65px;
  color: #fff;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-weight: 700;
} 

.header h1 a{
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.header{
  min-height: 20vh;
  min-width: 100%;
  background-image: url(img/himage3.jpg);
  background-size: cover;
  background-position: bottom;
}

.logo{
  padding-left:2px ;
}

.nav_section{
  flex: 1;
  text-align: left; 
  height: 12vh;
  background-color: #252525;   
  padding: 0;
  padding-left: 195px;
}

.nav_section ul li{
  list-style: none;
  display: inline-block;
  font-size: 16px;
  font-family: "poppins", sans-serif;
  padding: 18px 27px;
  
}

.nav_section ul li::after{
  content: '';
  width:0%;
  height:2px;
  background: #4767f9;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav_section ul li:hover::after{
  width: 100%;
}

.nav_section ul i{
  color: #ffffff;
  padding-left:20px ;
}

.nav_section ul li a{
  text-decoration: none;
  color: #fff;
  position: relative;
}

.nav_section fa{
  color: #fff;
}

@media only screen and (max-width: 700px){
  .headerh1 a{
      font-size: 100px;
  } 
} 